{% extends "base.html" %}

{% load humanize %}

{% block page_content %}
<h1>{{ portfolio.model.name }}</h1>
<div id="portfolio-management">
  <div id="left-section">
    <section id="add-ticker">
      
    </section>

    <section id="cashflow-analysis">
      <h2 class="grey">Analisi Cashflow</h2>
      <!-- Grafico delle proiezioni del cashflow -->
      <div id="cashflow-chart">
        <!-- Qui va inserito il grafico -->
      </div>
    </section>
  </div>

  <div id="right-section" style="display: flex; flex-direction: column; align-items: flex-start;">
    <section id="asset-allocation" style="width: 100%;">
        {% include "widgets/asset_allocation.html" with portfolio=portfolio %}
    </section>
  </div>

</div>

{% endblock %}