{% extends "base.html" %}

{% load humanize %}

{% block page_content %}
<h1>{{ portfolio.model.name }} <button onclick="editPortfolio({{ portfolio.model.pk }})">Edit</button></h1>
<div id="portfolio-management">
  <div id="left-section">
    <section id="add-ticker">
      
    </section>

    <section id="cashflow-analysis">
      <h2 class="grey">Analisi Cashflow</h2>
      <!-- Grafico delle proiezioni del cashflow -->
      <div id="cashflow-chart">
        <!-- Qui va inserito il grafico -->
      </div>
    </section>
  </div>

  <div id="right-section" style="display: flex; flex-direction: column; align-items: flex-start;">
    <section id="asset-allocation" style="width: 100%;">
        {% include "widgets/asset_allocation.html" with portfolio=portfolio %}
    </section>
  </div>

</div>


<!-- Popup Modale per Modificare i dati del portfolio -->
<div id="editPortfolio" class="modal">
  <div class="modal-content">
      <span class="close">×</span>
      <h1>Edit Portfolio Request</h1>
      <form method="post" action="{% url 'edit_portfolio' pk=portfolio.model.pk %}" id="editPortfolioForm">
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="string" id="name" name="name" value="{{portfolio.model.name}}" required>
          
          <label for="invested">Invested:</label>
          <input type="number" id="invested" step=".01" name="invested" value={{portfolio.model.invested}} required>
          
          <label for="liquidity">Liquidity:</label>
          <input type="number" id="liquidity" step=".01" name="liquidity" value="{{portfolio.model.liquidity}}" required>
          
          <input type="hidden" id="portfolioId" name="portfolioId">
          
          <input type="submit" value="Invia">
      </form>
  </div>
</div>

<script>
  function editPortfolio(pk) {
    document.getElementById("editPortfolio").value = pk;
    toggleModal('editPortfolio', true);
  }
</script>

{% endblock %}