/* styles.css */
.widget-container {
    width: 350px;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.add-button {
    background-color: rgba(0, 255, 0, 0.8);
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width:47%;
    height: 40px;
}

.delete-button {
    background-color: rgba(255, 0, 0, 0.8);
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width:47%;
    height: 40px;
}

.overlay-buttons {
    display: none;
    position: absolute;
    top: 80px;
    width: 350px;
}

.table-container:hover + .overlay-buttons {
    display: block;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.info-table th {
    width: 50%;
}

.info-table td {
    width: 50%;
}
