#portfolio-management {
    display: flex;
    height: 100vh;
}
#left-section, #right-section {
    border: 2px solid #B0BEC5; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Padding inside the divs */
    margin: 10px; /* Margin outside the divs */
    /* flex: 1; */
    width: 40%;
}
#right-section {
    width: 60%;
}
#rihgt-section .row {
    margin-right: 0;
    margin-left: 0;
}
/* Updated dark theme colors */
body {
    background-color: #121212; /* Dark grey */
    color: #E0E0E0; /* Light grey */
}
.grey {
    color: #B0BEC5; /* Light grey */
}
.red {
    color: #FF5252; /* Light red */
}
.matte-grey {
    background-color: #37474F; /* Dark matte grey */
}

h1 {
    color: #76b900; /* Verde */
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
hr {
    border: 0;
    height: 1px;
    background-color: #777;
    margin-top: 20px;
}
input[type="text"],
input[type="number"],
input[type="submit"] {
    border-radius: 5px;
    background-color: #808080;
}

input[type="submit"] {
    margin-right: 10px;
    background-color: #808080;
}

td {
    text-align: center;
}