input[type="text"],
input[type="number"],
input[type="submit"] {
    border-radius: 5px;
    background-color: #f2dede;
}

input[type="submit"] {
    margin-right: 10px;
    background-color: #f2dede;
}