
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /* box-shadow: 0 0 20px var(--theme-table-shadow); */
}

thead tr {
    color: var(--theme-table-t);
    text-align: left;
}

th, td {
    color: var(--theme-table-t);
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid var(--theme-table-border);
}