<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Personal Portfolio{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/asset.css' %}">
    <link rel="stylesheet" href="{% static 'css/asset_allocation.css' %}">
</head>



<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="burgerSideBar" class="sidebar">
        <div id="icon_links">
            <button class="openbtn" onclick="handleNav()">☰</button>
            <a href="/"><img src="{% static 'images/home.svg' %}" style="width:21px;height:21px;"></a>
            {% block icon_menu_links %}

            {% endblock icon_menu_links %}
        </div>

        <div id="text_links">
            <button class="openbtn" onclick="handleNav()">x</button>
            <a href="/">Home</a>
            {% block menu_links %}

            {% endblock menu_links %}
        </div>
      </div>
      
      <div id="main">
        {% block page_content %}
        
        {% endblock page_content %}
      </div>

    <script>
        function openNav() {
            document.getElementById("burgerSideBar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("icon_links").style.display = "none";
            document.getElementById("text_links").style.display = "block";
        }

        function closeNav() {
            document.getElementById("burgerSideBar").style.width = "50px";
            document.getElementById("main").style.marginLeft= "50px";
            document.getElementById("icon_links").style.display = "block";
            document.getElementById("text_links").style.display = "none";
        }

        function handleNav()
        {
            if (document.getElementById("burgerSideBar").style.width == "50px") {
                openNav();
            }
            else {
                closeNav();
            }
        }

        window.onload = (event) => {
            closeNav();
        };


         // Funzione di utilità per mostrare o nascondere i modali
        function toggleModal(modalId, show) {
            var modal = document.getElementById(modalId);
            modal.style.display = show ? 'block' : 'none';
        }

        // Event listener per chiudere i modali quando si clicca fuori o si preme 'Esc'
        window.onclick = function(event) {
            if (event.target.classList.contains('modal')) {
                toggleModal(event.target.id, false);
            }
        };
        document.addEventListener('keydown', function(event) {
            if (event.key === "Escape") {
                var modals = document.getElementsByClassName('modal');
                Array.from(modals).forEach(function(modal) {
                    toggleModal(modal.id, false);
                });
            }
        });
        // Event listener per chiudere i modali quando si clicca sul pulsante di chiusura
        var closeButtons = document.getElementsByClassName('close');
        Array.from(closeButtons).forEach(function(button) {
            button.onclick = function() {
                var modal = button.closest('.modal');
                toggleModal(modal.id, false);
            };
        });
    </script>
</body>
</html>