{% extends "base.html" %}

{% load math %}

{% block page_content %}

<div class="topnav">
	<a href="{% url 'portfolio_detail' portfolio.pk %}">Details</a>
	<a href="{% url 'portfolio_rules' portfolio.pk %}">Assigned Rules</a>
    <a href="{% url 'portfolio_budgets' portfolio.pk %}">Assigned Budgets</a>
	<a href="{% url 'rule_index' %}">Rules</a>
	<a href="{% url 'category_index' %}">Categories</a>
	<a href="{% url 'portfolio_analytics' pk=portfolio.pk year=2024 %}">Analytics</a>
</div>

<div class="card">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Descrption</th>
                <th>Value</th>
                <th>Perc To Exclude</th>
                <th>Weight Value</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td><input type="checkbox" name="seleziona" checked="true"></td>
                    <td>{{ t.description }}</td>
                    <td id="value-{{t.id}}">{{ t.value }}</td>
                    <td><input id="perc-{{t.id}}" type="number" step="0.01" value="{{ t.percToExclude }}" onchange="updateValue({{t.id}})"></td>
                    <td id="weightValue-{{t.id}}">{{ t.value|mul:t.percToExclude }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>-</td>
                <td>Total</td>
                <td id="total-value"></td>
                <td>-</td>
                <td id="total-wValue"></td>
            </tr>
        </tfoot>
    </table>
    <button onclick="copyCsv()">Copy CSV</button>
</div>

<script>
    function copyCsv() {
        const righeSpuntate = document.querySelectorAll('input[type="checkbox"]:checked');
        const csvContent = Array.from(righeSpuntate).map(row => {
            const descrizione = row.closest('tr').querySelector('td:nth-child(2)').textContent;
            const valoreSpeso = row.closest('tr').querySelector('td:nth-child(3)').textContent;
            const valorePesato = row.closest('tr').querySelector('td:nth-child(5)').textContent;
            return `${descrizione},${valoreSpeso},${valorePesato}`;
        }).join('\n');

        const csv = "Descrizione,SpesoNetto,DaPagare\n"+csvContent

        // Copia il CSV nella clipboard (puoi personalizzare questa parte)
        navigator.clipboard.writeText(csv).then(() => {
            alert('CSV copiato nella clipboard!');
        }).catch(err => {
            console.error('Errore durante la copia del CSV:', err);
        });
    }

    function computeSums() {
        const righeSpuntate = document.querySelectorAll('input[type="checkbox"]:checked');
        let sommaValore = 0;
        let sommaValorePesato = 0;

        righeSpuntate.forEach(row => {
            const valore = parseFloat(row.closest('tr').querySelector('td:nth-child(3)').textContent);
            const valorePesato = parseFloat(row.closest('tr').querySelector('td:nth-child(5)').textContent);
            sommaValore += valore;
            sommaValorePesato += valorePesato;
        });

        document.getElementById('total-value').textContent = sommaValore.toFixed(2);
        document.getElementById('total-wValue').textContent = sommaValorePesato.toFixed(2);
    }

    function updateValue(id) {
        const valore = parseFloat(document.getElementById(`value-${id}`).textContent);
        const percentuale = parseFloat(document.getElementById(`perc-${id}`).value);
        const valorePesato = valore * percentuale;
        
        document.getElementById(`weightValue-${id}`).textContent = valorePesato.toFixed(2);

        computeSums();
    }

    // Chiamata a computeSums quando la pagina viene ricaricata
    window.addEventListener('load', computeSums);

    // Chiamata a computeSums quando una checkbox viene spuntata o deselezionata
    document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
        checkbox.addEventListener('change', computeSums);
    });
</script>

{% endblock page_content %}