{% extends "base.html" %}

{% block page_content %}

<h1>{{portfolio.name}}</h1>

<div class="topnav">
	<a href="{% url 'portfolio_detail' portfolio.pk %}">Details</a>
	<a href="{% url 'portfolio_rules' portfolio.pk %}">Assigned Rules</a>
	<a href="{% url 'rule_index' %}">Rules</a>
	<a href="{% url 'category_index' %}">Categories</a>
	<a href="{% url 'portfolio_analytics' pk=portfolio.pk year=2024 %}">Analytics</a>
</div>

<div class="row">
	<div class="leftcolumn">
		<div class="card">
			<h2>Expenses</h2>

			<div>
			</div>
			<div>
				<figure class="highcharts-figure">
					<div id="expensesColumnChartContainer"></div>
				</figure>
			</div>

			<div>
				<figure class="highcharts-figure">
					<div id="expensesByLabel"></div>
				</figure>
			</div>

			<div>
				<figure class="highcharts-figure">
					<div id="montlyExpensesByCategory"></div>
				</figure>
			</div>

			<div>
				<figure class="highcharts-figure">
					<div id="montlyExpensesByLabel"></div>
				</figure>
			</div>

		</div>

		<div class="card">
			
		</div>
	</div>


	<div class="rightcolumn">
		<div class="card">
			<h2>Details</h2>
			<dl class="row">
				<dt class="col-sm-10">
					
				</dt>
				<dd class="col-sm-10">
					
				</dd>
				<dt class="col-sm-10">
					
				</dt>
				<dd class="col-sm-10">
					
				</dd>
			</dl>
		</div>

		<div class="card">
			<h3>Statistics</h3>
			<div>
				<table class="styled-table">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Transactions</td>
							<td>?</td>
						</tr>
						<tr>
							<td>Income</td>
							<td>?</td>
						</tr>
						<tr>
							<td>Outcome</td>
							<td>?</td>
						</tr>
						<tr>
							<td>Cashflow</td>
							<td>?</td>
						</tr>
						<tr>
							<td>Undefined Transactions</td>
							<td>?</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card">
			<h3>Budgets over 1 year</h3>
			
		</div>

	</div>
</div>

<script>

	window.onload = function() 
	{
		{% autoescape off %}
		pieChart({{expensesByCategory}}, "expensesColumnChartContainer", "Categories", "Expenses by category");
		pieChart({{expensesByLabel}}, "expensesByLabel", "Labels", "Expenses by label");
		columnStackChart({{montlyExpensesByCategory}}, ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "montlyExpensesByCategory", "Category Expenses by month", "Months");
		columnStackChart({{montlyExpensesByLabel}}, ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "montlyExpensesByLabel", "Label Expenses by month", "Months");
		{% endautoescape %}
  	};

	function updateCharts()
	{
		
	}
</script>

{% endblock page_content %}