{% load humanize %}
<div class="widget-container">
    <div class="table-container">
        <table class="info-table">
            <tr>
                <th>Ticker</th>
                <td>{{ ticker }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ quantity }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ value|floatformat:2|intcomma }} €</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ progress_percentage|intcomma }}%</td>
            </tr>
            <tr>
                <th>Invested</th>
                <td>{{ invested|floatformat:2|intcomma }} €</td>
            </tr>
            <tr>
                <th>Percentage Change</th>
                <td>{{ percentage_change|intcomma }} %</td>
            </tr>
            <tr>
                <th>&alpha;</th>
                <td>{{ alpha|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
                <th>&beta;</th>
                <td>{{ beta|floatformat:2|intcomma }}</td>
            </tr>
        </table>
    </div>
    <div class="overlay-buttons">
        <button class="add-button" onclick="addAsset({{ pk }})">Add</button>
        <button class="delete-button" onclick="deleteAsset({{ pk }})">Remove</button>
    </div>
</div>